<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This is my focused individual project for
  <a href="https://eliott-fernanda.cs.grinnell.edu/home/324-326/"><em>CSC 324</em></a>.
  It is an adaptation of the sample app produced by the
  <a href="https://www.railstutorial.org/"><em>Ruby on Rails Tutorial</em></a>,
  part of the <a href="https://www.learnenough.com/">Learn Enough</a> family of
  tutorials.
<p>
  <%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"), 
  "https://rubyonrails.org/" %>