<% provide(:title, "Citations") %>
<h1>Citations</h1>
<p>
  MVC model image was created by me using <a href="https://www.canva.com">Canva</a>.
</p>
<p>
  The rails logs was taken from the <a href="https://www.railstutorial.org/"><em>Ruby on Rails Tutorial</em></a>,
</p>