<% provide(:title, "Citations") %>
<h1>Citations</h1>
<p>
  Cover Image: Photo taken by Marek Piwnicki from Unsplash.
  <a href="https://unsplash.com/photos/JnXebVlsVrg">https://unsplash.com/photos/JnXebVlsVrg</a>
</p>