<% provide(:title, "Overview") %>
<h1>Overview</h1>
<h2>Preface</h2>
<p>
  The sole purpose of this website is to help me learn
  <a href="https://rubyonrails.org"><em>Ruby on Rails</em></a>.
  Since this website is just a learning tool for me, I am not focusing on
  the text that appears on the different pages. My goal is just to create
  the outline of a website that I can use as a refernce for future projects.
</p>
<h2>MVC Overview</h2>
<p>
  The model-view-controller architecture is a outline for the interaction
  of a Rails website interacts (among other websites). The basic idea is
  that all interactions with the website move through the controller,
  where they are directed to the view or the model.
  
  <!--and from there the program-->
  <!--moves to the View when displaying things or interacts with the model for-->
  <!--database and data structure features.-->
  <!--basic structure in -->
  <!--which a Rails website interacts-->
  
  
  <!--This websites explains the basic parts of the-->
  <!--Model-View-Controller design pattern and its implementation-->
  <!--in Rails.-->
</p>
<img src="/assets/mvc_model.png" class="image" style="width:50%">

<h2>Lorem ipsum</h2>
<p>
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringill
</p>