<% provide(:title, "Overview") %>
<h1>Overview</h1>
<h2>Preface</h2>
<p>
  This website is meant to be a tool for me to learn Rails
  and thus it is far from perfect and complete. The information
  on this website may not be completely accurate because I am still
  learning all of the concepts.
</p>
<h2>Overview</h2>
<p>
  The model-view-controller architecture is a outline for the interaction
  of a Rails website interacts (among other websites). The basic idea is
  that all interactions with the website move through the controller,
  where they are directed to the view or the model.
  
  <!--and from there the program-->
  <!--moves to the View when displaying things or interacts with the model for-->
  <!--database and data structure features.-->
  <!--basic structure in -->
  <!--which a Rails website interacts-->
  
  
  <!--This websites explains the basic parts of the-->
  <!--Model-View-Controller design pattern and its implementation-->
  <!--in Rails.-->
</p>