<% provide(:title, "Overview") %>
<h1>Overview</h1>
<h2>Preface</h2>
<p>
  This website is meant to be a tool for me to learn Rails
  and thus it is far from perfect and complete. The information
  on this website may not be completely accurate because I am still
  learning all of the concepts.
</p>
<h2>Overview</h2>
<p>
  This websites explains the basic parts of the
  Model-View-Controller design pattern and its implementation
  in Rails.
</p>