<h1>
Notes
</h1>

<%= link_to "Edit", edit_note_path(@note), class: "button" %>
<%= link_to "Delete", @note, method: :delete, data: { confirm: "You sure?" }, class: "button" %>

<h2>
<%= @note.title %>
</h2>
<p>
<%= @note.content %>
</p>