<footer class="footer">
  <small>
    <a href="https://eliott-fernanda.cs.grinnell.edu/home/324-326/"><em>CSC 324</em></a>
    focused individual project by Shane Takeuchi
  </small>
  <nav>
    <ul>
  <li><%= link_to "About", about_path %></li>
  <li><%= link_to "Contact", contact_path %></li>
  <li><%= link_to "Help", help_path %></li>
  <li><%= link_to "Citations", citations_path %></li>
    </ul>
  </nav>
</footer>